docs/referencias/06_rl/reinforcementLearning.aux
docs/referencias/06_rl/reinforcementLearning.dvi
docs/referencias/06_rl/reinforcementLearning.log
docs/referencias/06_rl/reinforcementLearning.toc
docs/referencias/06_rl/reinforcementLearning.synctex.gz
docs/referencias/06_rl/reinforcementLearning.snm
docs/referencias/06_rl/reinforcementLearning.out
docs/referencias/06_rl/reinforcementLearning.nav
